<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-sm p-6 m-auto bg-white rounded-md shadow-md">
      <h1 class="text-3xl font-semibold text-center text-black">Crear cuenta</h1>
      <form class="mt-6" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

          <div>
              <label for="username" class="block text-sm text-gray-700">Usuario</label>
              <input type="text" id="username" formControlName="username" class="w-full px-4 py-2 mt-2 text-gray-700 bg-white border rounded-md focus:border-blue-500 focus:outline-none focus:ring">
          </div>

          <div class="mt-4">
              <label for="password" class="block text-sm text-gray-700">Contraseña</label>
              <input type="password" id="password" formControlName="password" class="w-full px-4 py-2 mt-2 text-gray-700 bg-white border rounded-md focus:border-blue-500 focus:outline-none focus:ring">
          </div>

          <div class="mt-4">
              <label for="email" class="block text-sm text-gray-700">Email</label>
              <input type="email" id="email" formControlName="email" class="w-full px-4 py-2 mt-2 text-gray-700 bg-white border rounded-md focus:border-blue-500 focus:outline-none focus:ring">
          </div>

          <div class="flex items-center justify-between mt-4">
              <a routerLink="/auth/login" class="text-sm text-gray-600 hover:underline">¿Ya tienes cuenta? inicia sesión</a>
          </div>

          <div class="mt-6">
              <button class="w-full px-4 py-2 tracking-wide text-white bg-black rounded-md hover:bg-gray-700 focus:bg-gray-700 focus:outline-none">Register</button>
          </div>
      </form>

      <div class="w-full max-w-sm mt-4 p-3 bg-white border-2 border-red-600 text-black text-center rounded-md" *ngIf="errorUser != ''">
        {{ errorUser }}
      </div>

      <div class="w-full max-w-sm mt-4 p-3 bg-white border-2 border-green-600 text-black text-center rounded-md" *ngIf="userCreatedInfo != ''">
        {{ userCreatedInfo }}
      </div>

    </div>
</div>
